{% macro customInformation(is_admin, node) %}
  {% if is_admin %}
    <div class="custom-information">
      <div>{{ 'title: '|t|capitalize ~ node.getTitle() }}</div>
      <div>{{ 'autor: '|t|capitalize ~ node.Owner.name.value }}</div>
      <div>{{ 'tipo de contenido: '|t|capitalize ~ node.bundle }}</div>
      <div>{{ 'fecha de publicación: '|t|capitalize ~ node.getCreatedTime|date("m/d/Y") }}</div>
    </div>
  {% endif %}
{% endmacro %}
